= simple_form_for @institution, html: { class: 'form-horizontal add-institution' } do |f|
  -if @institution.errors.any?
    #error_explanation
      %h2= "#{pluralize(@institution.errors.count, "error")} prohibited this institution from being saved:"
      %ul
        - @institution.errors.full_messages.each do |msg|
          %li= msg
  = f.input :type, collection: ['University', 'HighSchool', 'OpenInstitution' ], as: :radio_buttons, hint: ''
  = f.input :name
  = f.input :abbreviation
  = f.input :website
  = f.input :country
  = f.button :submit, 'Save'
