%h1 Registered institutions

%table
  %tr
    %th Name
    %th Abbreviation
    %th Website
    %th Country
    %th Team manager

  - @institutions.each do |institution|
    %tr
      %td= institution.name
      %td= institution.abbreviation
      %td= institution.website
      %td= institution.country
      %td
        - if institution.user.nil?
          =link_to 'Add team manager', new_user_registration_path(institution_id: institution.id), id: "add_team_manager_institution_#{institution.id}"
        - else
          = institution.user.name
%br

%p Cannot find your institution ? #{link_to 'Click here to add your institution now', new_institution_path}
