%p
  %b Name:
  = @institution.name
%p
  %b Abbreviation:
  = @institution.abbreviation
%p
  %b Website:
  = @institution.website
%p
  %b Country:
  = @institution.country

= link_to 'Edit', edit_institution_path(@institution)
\|
= link_to 'Back', institutions_path
