!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", httpequiv: "Content-Type" }
  %body
    %h1
      Slots #{@notification_type} notification for #{@registration.user.institution.name}
    
    %p Hello #{@registration.user.name}

    %p There have been changes to your institution registration record for the 
    #{Setting.key('tournament_name')}, specially in terms of how many slots you've 
    been #{@notification_type}. Details as follows : 

    %table
      %tr
        %td Debate teams 
        %td= @registration.send("debate_teams_#{@notification_type}")
      %tr
        %td Adjudicators
        %td= @registration.send("adjudicators_#{@notification_type}")
      %tr
        %td Observers 
        %td= @registration.send("observers_#{@notification_type}")

   
    %p 
      This email was sent to you by <a href="http://facebook.com/fastrego"> <img alt=FastRego" src="http://fastrego.herokuapp.com/assets/fastrego_button.png" ></a> . Check us out on <a href="http://www.facebook.com/fastrego">Facebook</a>
      To power your tournament with FastRego, register by clicking <a href="http://fastrego.herokuapp.com/enquiry"> here </a> 
