%fieldset
  .control-group
    = f.label :name, 'Name', class: 'control-label'
    .controls
      = f.text_field :name
  .control-group
    = f.label :gender, 'Gender', class: 'control-label'
    .controls
      %label.radio
        = f.radio_button :gender, 'Male'
        Male      
      %label.radio 
        = f.radio_button :gender, 'Female'
        Female
  .control-group
    = f.label :passport_number, class: 'control-label'
    .controls
      = f.text_field :passport_number
  .control-group
    = f.label :nationality, 'Nationality', class: 'control-label'
    .controls
      = f.text_field :nationality
  .control-group
    = f.label :email, 'Email', class: 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :dietary_requirement, 'Dietary requirement'
    .controls
      %label.radio
        = f.radio_button :dietary_requirement, 'No_special_requirements'
        No special requirements
      %label.radio
        = f.radio_button :dietary_requirement, 'Halal'
        Halal
      %label.radio
        = f.radio_button :dietary_requirement, 'Vegetarian'
        Vegetarian
  .control-group
    = f.label :allergies, 'Allergies', class: 'control-label'
    .controls
      = f.text_field :allergies
  .control-group
    = f.label :arrival_at, 'Arrival at'
    .controls
      = f.datetime_select :arrival_at, {use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year}, class: 'span1'
  .control-group
    = f.label :departure_at, 'Departure at'
    .controls
      = f.datetime_select :departure_at, {use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year}, class: 'span1'
  .control-group
    = f.label :transport_number, 'Flight/Bus/Train Number' 
    .controls
      = f.text_field :transport_number
  .control-group
    = f.label :point_of_entry
    .controls
      = f.text_field :point_of_entry
  .control-group
    = f.label :emergency_contact_person
    .controls
      = f.text_field :emergency_contact_person
  .control-group
    = f.label :emergency_contact_number
    .controls
      = f.text_field :emergency_contact_number
  .control-group
    = f.label :preferred_roommmate
    .controls
      = f.text_field :preferred_roommate
  .control-group
    = f.label :preferred_roommate_institution
    .controls
      = f.text_field :preferred_roommate_institution
