- unless @registration.manual_payments.empty?
  %h4.blue Manual payment history
  %table.manual-payment-history.table.table-striped.table-bordered.table-condensed
    %thead
      %tr
        %th ID
        %th Date
        %th Amount sent
        %th Ref #
        %th Comments
        %th Proof
        %th Amount received
        %th Host comments
        %th

    - @registration.manual_payments.each do |p|
      %tr
        %td= p.id
        %td= p.date_sent
        %td= number_to_currency p.amount_sent, unit: current_tournament.currency_symbol 
        %td= p.account_number
        %td= p.comments
        %td= link_to 'View', p.scanned_proof.url, 'data-popup' => true
        %td= number_to_currency p.amount_received, unit: current_tournament.currency_symbol
        %td= p.admin_comment
        %td
          -if p.deleteable?
            = link_to 'Delete', payment_path(p), method: 'delete'


  :javascript
    $('a[data-popup]').live('click', function(e) { window.open($(this).attr('href')); e.preventDefault(); });
