= form_for @registration, url: 'users/registration' do |f|
  -if @registration.errors.any?
    #error_explanation
      %h2= "#{pluralize(@registration.errors.count, "error")} prohibited this registration from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :debate_teams_requested
    = f.number_field :debate_teams_requested
  .field
    = f.label :adjudicators_requested
    = f.number_field :adjudicators_requested
  .field
    = f.label :observers_requested
    = f.number_field :observers_requested
  .actions
    = f.submit 'Save'
