.alert.alert-info
  .progress.progress-striped.active
    .bar(style='width: 100%;')
  %p.text-center
    Waiting for response from PayPal. Do not reload or click away.
.alert.alert-error.hide
  %p.text-center
    The payment failed to complete. Please contact the #{mail_to Setting.key(current_tournament, 'tournament_registration_email'), 'tournament host' }. #{link_to 'Return to registration page', profile_path, class: 'done hide'}
.alert.alert-success.hide
  %p.text-center
    Your payment was successful! #{link_to 'Return to registration page', profile_path, class: 'done hide'}
%dl.dl-horizontal
  %dt Payment ID
  %dd.id= @paypal_payment.id
  %dt Status
  %dd.status= @paypal_payment.status
  %dt Amount
  %dd.amount= number_to_currency @paypal_payment.amount_sent, unit: current_tournament.currency_symbol

=link_to 'Return to registration page', profile_path, class: 'done hide'

:javascript
  new FastRego.PaymentStatusPoller(parseInt($('.id').text()),
    $('.status'),
    $('.alert-info'),
    $('.done'),
    $('.alert-success'),
    $('.alert-error')
    ).start()
