= form_for @registration, url: '/users/debaters' do |form|
  - @registration.debate_teams.each_with_index do |team, index|
    = "#{@registration.user.institution.abbreviation} #{index+1}"
    - team.each do |debater|
      = "Speaker #{debater.speaker_number}"
      = form.fields_for :debaters, debater do |f|
        = render partial: 'debater_form', locals: {f: f, debater: debater} 
  = form.submit 'Update'