%section#profile_details
  %p
    %b Name:
    = current_user.name
  %p
    %b Email:
    = current_user.email
  %p
    %b Institution:
    = current_user.institution.name
  %p
    %b Phone number:
    = current_user.phone_number
%section#registration
  - if not Setting.key('enable_pre_registration') == 'True'
    %p
      %b Registration is currently closed
  - else
    %p
      %b Registration is open
    = render 'registration_form'