-if @paypal_payment && @paypal_payment.errors.any?
  #error_explanation
    %h4= "Failure when trying to submit to PayPal"
    %ul
      - @paypal_payment.errors.full_messages.each do |msg|
        %li= msg

%section#registration
  = render 'users/tournament_registration_header'
%section#slots
  - if @registration.requested?
    .row
      .span6
        %h4.blue Requested slots
        %b You completed pre-registration at #{@registration.requested_at} and requested the following slots
        %ul
          %li #{ pluralize @registration.debate_teams_requested, 'debate team' }
          %li #{ pluralize @registration.adjudicators_requested, 'adjudicator' }
          %li #{ pluralize @registration.observers_requested, 'observer' }
      .span6
        - if @registration.granted?
          %h4.blue Granted slots
          %b You have been granted the following slots
          %ul
            %li #{ pluralize @registration.debate_teams_granted, 'debate team' }
            %li #{ pluralize @registration.adjudicators_granted, 'adjudicator' }
            %li #{ pluralize @registration.observers_granted, 'observer' }

%section#payment
  - if not @registration.fees.blank?
    %h4.blue Payment details
    %table.payment-items.table.table-striped.table-condensed
      %tr
        %td Total registration fees due
        %td #{number_to_currency @registration.fees, unit: current_tournament.currency_symbol }
        %td
      %tr
        %td Total confirmed payments
        %td #{number_to_currency @registration.total_confirmed_payments, unit: current_tournament.currency_symbol }
        %td
      - if current_tournament.pre_registration_fees_enabled? && @registration.balance_pre_registration_fees > 0
        %tr
          %td Pre registration fees
          %td #{number_to_currency @registration.balance_pre_registration_fees, unit: current_tournament.currency_symbol }
          %td  #{paypal_button(true) if current_tournament.paypal_payment_enabled?}
      %tr
        %td Balance fees due
        %td #{number_to_currency @registration.balance_fees, unit: current_tournament.currency_symbol }
        %td #{paypal_button if current_tournament.paypal_payment_enabled? and @registration.balance_fees > 0}
      %tr
        %td Total unconfirmed payments
        %td #{number_to_currency @registration.total_unconfirmed_payments, unit: current_tournament.currency_symbol }
        %td

    = render 'users/paypal_payment_table'
    = render 'users/payment_table'

    .well
      %p Use this form to submit a manual payment
      = render 'users/payment_form'

%section#confirmed_slots
  - if @registration.confirmed?
    %h4.blue Confirmed slots and participant details
    %p
      %b You have been confirmed the following slots. Please click on the links to populate the relevant participant details.
      %ul
        %li
          #{ pluralize @registration.debate_teams_confirmed, 'debate team' }
          - if @registration.debate_teams_confirmed > 0
            #{link_to (@registration.debaters.length > 0 ? 'Edit' : 'Add') + ' debate team details', edit_debaters_registration_path}
        %li
          #{ pluralize @registration.adjudicators_confirmed, 'adjudicator' }
          - if @registration.adjudicators_confirmed > 0
            #{link_to (@registration.adjudicators.length > 0 ? 'Edit' : 'Add') + ' adjudicator details', edit_adjudicators_registration_path}
        %li
          #{ pluralize @registration.observers_confirmed, 'observer' }
          - if @registration.observers_confirmed > 0
            #{link_to (@registration.observers.length > 0 ? 'Edit' : 'Add') + ' observer details', edit_observers_registration_path}

#preRegistrationModal.modal.hide.fade
  .modal-header
    %h3#myModalLabel
      PayPal payment options
  .modal-body

#registrationModal.modal.hide.fade
  .modal-header
    %h3#myModalLabel
      PayPal payment options
  .modal-body
    %p One find body
    %p One find body
