%section#profile_details
  %p
    %b Name:
    = current_user.name
  %p
    %b Email:
    = current_user.email
  %p
    %b Institution:
    = current_user.institution.name
  %p
    %b Phone number:
    = current_user.phone_number
%section#registration
  - if not Setting.key('enable_pre_registration') == 'True'
    %p
      %b Registration is currently closed
  - elsif Setting.key('enable_pre_registration') == 'True' and current_user.registration.nil?
    %p
      %b Registration is open
    = render 'registration_form'
  - elsif Setting.key('enable_pre_registration') == 'True' and not current_user.registration.nil?
    %p
      %b You have completed pre-registration and requested the following slots
      %ul
        %li #{ pluralize current_user.registration.debate_teams_requested, 'debate team' }
        %li #{ pluralize current_user.registration.adjudicators_requested, 'adjudicator' }
        %li #{ pluralize current_user.registration.observers_requested, 'observer' }

