%section#registration
  - if not Setting.key('enable_pre_registration') == 'True' and not current_user.registered?
    %p
      %b Registration is currently closed
  - elsif Setting.key('enable_pre_registration') == 'True' and not current_user.registered?
    %p
      %b Registration is open
    = render 'registration_form'
  - elsif current_user.registered?
    %p
      %b You completed pre-registration at #{current_user.registration.requested_at} and requested the following slots
      %ul
        %li #{ pluralize current_user.registration.debate_teams_requested, 'debate team' }
        %li #{ pluralize current_user.registration.adjudicators_requested, 'adjudicator' }
        %li #{ pluralize current_user.registration.observers_requested, 'observer' }
  - if current_user.registered? and current_user.registration.granted?
    %hr
    %p
      %b You have been granted the following slots
      %ul
        %li #{ pluralize current_user.registration.debate_teams_granted, 'debate team' }
        %li #{ pluralize current_user.registration.adjudicators_granted, 'adjudicator' }
        %li #{ pluralize current_user.registration.observers_granted, 'observer' }

%section#payment
  - if current_user.registered? and not current_user.registration.fees.blank?
    %hr
    %p
      %b Total registration fees due  #{number_to_currency current_user.registration.fees, unit: 'RM' }.
    %p
      %b Total confirmed payments  #{number_to_currency current_user.registration.total_confirmed_payments, unit: 'RM' }.
    %p
      %b Balance fees due  #{number_to_currency current_user.registration.balance_fees, unit: 'RM' }.
    %p
      %b Total unconfirmed payments  #{number_to_currency current_user.registration.total_unconfirmed_payments, unit: 'RM' }.
    %p
      Make payment via the form below
      = render 'payment_table'
      = render 'payment_form'
%section#confirmed_slots
  - if current_user.registered? and current_user.registration.confirmed?
    %hr
    %p
      %b You have been confirmed the following slots. Please click on the links to populate the relavant participant details.
      %ul
        %li 
          #{ pluralize current_user.registration.debate_teams_confirmed, 'debate team' }
          - if current_user.registration.debate_teams_confirmed > 0 
            #{link_to 'Add debate team details', users_debaters_path}
        %li 
          #{ pluralize current_user.registration.adjudicators_confirmed, 'adjudicator' }
          - if current_user.registration.adjudicators_confirmed > 0 
            #{link_to 'Add adjudicator details', users_adjudicators_path}
        %li 
          #{ pluralize current_user.registration.observers_confirmed, 'observer' } 
          - if current_user.registration.observers_confirmed > 0  
            #{link_to 'Add observer details', users_observers_path}

       


