= f.input :name
= f.input :gender, collection: ['Male', 'Female'], as: :radio_buttons
= f.input :passport_number
= f.input :nationality
= f.input :email
= f.input :dietary_requirement, collection: ['No_special_requirements', 'Halal', 'Vegetarian'], as: :radio_buttons
= f.input :allergies
= f.input :arrival_at, {as: :datetime, use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year } 
= f.input :departure_at, {as: :datetime, use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year } 
= f.input :transport_number
= f.input :point_of_entry
= f.input :emergency_contact_person
= f.input :emergency_contact_number
= f.input :preferred_roommate
= f.input :preferred_roommate_institution
- Participant.custom_fields.each do | field|
  = f.input field.to_sym
