= f.input :name
= f.input :gender, collection: ['Male', 'Female'], as: :radio_buttons
= f.input :passport_number
= f.input :nationality
= f.input :email
= f.input :dietary_requirement, collection: ['No_special_requirements', 'Halal', 'Vegetarian', 'Vegan', 'Kosher'], as: :radio_buttons
= f.input :allergies
= f.input :arrival_at, {as: :datetime, use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year } 
= f.input :departure_at, {as: :datetime, use_short_month: true, start_year: Date.today.year, end_year: (Date.today + 1.year).year } 
= f.input :transport_number
= f.input :point_of_entry
= f.input :emergency_contact_person
= f.input :emergency_contact_number
= f.input :preferred_roommate
= f.input :preferred_roommate_institution
- f.object.custom_fields.each do | field|
  = f.input field.to_sym
= f.label :profile_picture, 'Profile picture'
- if f.object.profile_picture.exists?
  = link_to image_tag(f.object.profile_picture.url, size: "200x200"), f.object.profile_picture.url(:original), popup: 'original_image'
= f.file_field :profile_picture, class: 'span3', label: 'profile_picture'