%h1 Observers
= simple_form_for @registration, url: update_observers_registration_path, html: { class: 'form-horizontal edit_observers' } do |form|
  -if @registration.errors.any?
    #error_explanation
      %h4= "#{pluralize(@registration.errors.count, "error")} prohibited these observer profiles from being saved:"
      %ul
        - @registration.errors.full_messages.each do |msg| 
          %li= msg
  - i = 0
  = form.simple_fields_for :observers do |f|
    - i+=1
    %legend Observer #{i}
    = render partial: 'participant_form', locals: {f: f} 
    %hr
  = form.submit 'Update'
