%p#notice= notice

%p
  %b Debate team requested:
  = @registration.debate_team_requested
%p
  %b Adjudicators requested:
  = @registration.adjudicators_requested
%p
  %b Observers requested:
  = @registration.observers_requested
%p
  %b Debate teams granted:
  = @registration.debate_teams_granted
%p
  %b Adjudicators granted:
  = @registration.adjudicators_granted
%p
  %b Observers granted:
  = @registration.observers_granted
%p
  %b Debate teams confirmed:
  = @registration.debate_teams_confirmed
%p
  %b Observers confirmed:
  = @registration.observers_confirmed
%p
  %b Adjudicators confirmed:
  = @registration.adjudicators_confirmed
%p
  %b User:
  = @registration.user_id
%p
  %b Requested at:
  = @registration.requested_at

= link_to 'Edit', edit_registration_path(@registration)
\|
= link_to 'Back', registrations_path
