!!!
%html
  %head
    %title UADC 2012 Registration
    /[if lt IE 9]
    %script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    /[endif]
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          /%a.btn.btn-navbar{data-toggle: 'collapse', data-target: '.nav-collapse'}
          %a.brand
            UADC 2012 Registration
          .nav-collapse
            %ul.nav
              %li
                %a{href: '/'} Profile
              %li
                %a{href: '/institutions'} Institutions
              - unless current_user.nil?
                %li
                  =link_to 'Edit profile', edit_user_registration_path
                %li
                  =link_to 'Logout', destroy_user_session_path, method: :delete
    .container
      -unless notice.nil?
        .alert.alert-info
          = notice
      -unless alert.nil?
        .alert.alert-error
          = alert
      = yield
