!!!
%html
  %head
    %title Fastrego
    /[if lt IE 9]
    /%script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}
    /[endif]
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            /%a.btn.btn-navbar{data-toggle: 'collapse', data-target: '.nav-collapse'}
            %a.brand{href:'http://www.facebook.com/FastRego',style:'display:inline'} #{image_tag 'fastrego.png', size:'265x27'}
            .nav-collapse
      .container
        = yield
      .push
    %footer
      .container
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Ffacebook.com%2Ffastrego&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=dark&amp;font&amp;height=80&amp;appId=251286678234917" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px;" allowTransparency="true"></iframe>        
        #footer-right 
          %p #{link_to 'Planning a tournament? Click here to use FastRego for your tournament!', enquiry_path}

